/* cabeçalho */






/* CONTEUDO PRINCIPAL */

/* Primeiro banner */
.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/imgs/banner-principal-home.png);
    background-size: cover;

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;
    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
    /* cursor:pointer;  */
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Titulo das seções */
.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;

}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seção Beneficios  */
.beneficios {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /* em cima -> direita e esquerda -> embaixo*/

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* x -> y -> blur -> cor com transparência*/

    text-align: center;

    /* Cria referencia de posicionamneto  para o icone, quando o icone for posicionado, usa esse card como referencia. */
    /* Sem isso, o circulo poderia usar outro elemento da pagina como referencia e sair passeando pelo layout. */
    position: relative;

}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 35%;
    height: 30%;

    /* Retira o icone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o circulo para cima , o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro não o circulo inteiro  */

    /* Por isso usamos transform: translate(-50%); que move o proprio circulo para a esquerda em 50% da largura 
    dele, fazendo com que o circulo fique perfeitamente centralizado */
    transform: translateX(-50%);

    display: grid;
    place-items: center;

    /* place-items: center; é a mesma coisa que colocar
       align-items: center e justify-items: center; */
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;

}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* banner meio */
.banner-meio {
    height: 60vh;
    background-image: url(../imgs/imgs/Banner\ centro.svg);
    background-size: cover;
    /* background-repeat: no-repeat; */

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}


/* Top livros recomendados */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}


















































/* 
.top-livros{
    padding: 50px 120px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px; 
}

.livros-recomendados {
    display: grid;

    grid-template-columns: repeat(4, 20%);
    gap: 10%;

    justify-content: center;

    text-align: center;
    
}

.livros h3  {
    margin-bottom: 30px;

}
    /*  */

.rodape {

    background-color: var(--azul-escuro);
    color: #FFFFFF;


    padding: 150px;
}

.bibliotec {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: space-around;
}



.biblioteca {
    display: flex;
    flex-direction: column;

}

.biblioteca h3 {
    text-decoration: none;
    color: #2ab2ab;
    margin-bottom: 20px;
}

.biblioteca p {
    margin-bottom: 10px;
}

.quem-somos {
    display: flex;
    flex-direction: column;

}

.quem-somos h3 {
    text-decoration: none;
    color: #2ab2ab;
    margin-bottom: 20px;
}

.quem-somos p {
    margin-bottom: 10px;
}

.senai {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: space-around;
    
}

.midia {
    text-decoration: none;
    color: #2ab2ab;
}

span {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--branco);
    margin-bottom: 15px;
}